<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Documents</title>
	</head>

	<body>
        <a href="/">Home</a>
        <a href="/admin">Administration</a>
        <a href="/myapp/patientEval">PatientEval</a>
        <a href="/myapp/patientsEval">PatientsEval</a>
        <a href="/myapp/documents">Documents</a>
		<br/>Documents
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile }} - {{ document.comment }}</a> {{ document.patientEval }}</li>
				<!-- TODO; jump to editing the patient
				<a href="{{ document.patientEval.url }}">{{ document.patientEval }}</a>
				-->
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "documents" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
	</body>

</html> 
