<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Patient Files Upload</title>
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if patientEvals %}
			<ul>
			{% for patientEval in patientEvals %}
				<li> <a href="{{ document.patientEval.url }}">{{ document.patientEval }}</a></li>
				<!-- jump to editing the patient
				<a href="{{ document.patientEval.url }}">{{ document.patientEval }}</a>
				-->
			{% endfor %}
			</ul>
		{% else %}
			<p>No patientEvals.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
		
		<a href="/admin">Administration</a>
        <a href="/myapp/enter">Enter</a>
        <a href="/myapp/list">List</a>
	</body>

</html> 
